<h1>Two Factor Authentication with Twilio</h1>

<p>
    Doing two-factor authentication (2FA) at a level of excellence can be tricky. Let's demonstrate how to use the <a href="https://www.twilio.com/">Twilio</a> API to make implementing 2FA a snap.
</p>

<p>
    @Html.ActionLink("Sign Up", "Register", "Account") or @Html.ActionLink("Sign In", "Login", "Account") to get started.
</p>