@model SMS2FA.Web.Models.SendCodeViewModel

<h1>Send Verification Code</h1>

@using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-inline", role = "form" })) {
    @Html.AntiForgeryToken()
    @Html.Hidden("rememberMe", @Model.RememberMe)
    <div class="form-row">
        <div class="col-md-8">
            Select Two-Factor Authentication Provider:
            @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers, new { @class = "form-control" })
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
}
